# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.ist

# minted / listings / glossaries
_minted*
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls

# latexmk / arara
latexmkrc
*.dvi

# Editor/OS
.DS_Store
.vscode/
